*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}


:root {
    /*cores base*/
    --bg-primary: #ffffff;
    --bg-claro: #f6edde;

    /*cores texto*/
    --text-primary: #333333;
    --text-secondary: #666666;
    --text-highlight: #458191;
    
    /*cores Logo*/
    --logo-azure: #458191;

    /*font family*/
    --ff-sans: 'Inter', system-ui, sans-serif;
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;

    /*font size*/
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.5rem;

    /*padding*/
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 3rem;
    
}

html{
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-primary);

    overflow-x: hidden;

    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-primary);
}

h1, h2, h3{
    line-height: 1.2;
    color: var(--text-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1{
    font-size: var(--fs-2xl);
}

h2{
    font-size: var(--fs-xl);
}

h3{
    font-size: var(--fs-lg);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background: var(--bg-claro);
    cursor: pointer;
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;
}

img {
    max-width: 100%;
    display: inline-block;
}

ul[role="list"] {
    list-style: none;
}

